<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vetgan"
        tools:targetApi="31">
        <activity
            android:name=".registrar_animal"
            android:exported="false" />
        <activity
            android:name=".inicioanimal"
            android:exported="false" />
        <activity
            android:name=".inicio_animal"
            android:exported="false"
            android:theme="@style/Theme.Vetgan" />
        <activity
            android:name=".agregar_checklist"
            android:exported="false" />
        <activity
            android:name=".checklist"
            android:exported="false" />
        <activity
            android:name=".lista_animales"
            android:exported="false" />
        <activity
            android:name=".registro_animal"
            android:exported="false" />
        <activity
            android:name=".animal"
            android:exported="false" />
        <activity
            android:name=".medir_dosis"
            android:exported="false" />
        <activity
            android:name=".dosis"
            android:exported="false" />
        <activity
            android:name=".medir_alimentacion"
            android:exported="false" />
        <activity
            android:name=".alimentacion"
            android:exported="false" />
        <activity
            android:name=".mediciones"
            android:exported="false" />
        <activity
            android:name=".principal"
            android:exported="false" />
        <activity
            android:name=".registro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>